body{
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 17px;    /*was 13px*/
  color: hsl(237, 12%, 33%);
  line-height: 17px;
}
h1{
  font-size: 2.25em;
  padding-bottom: 0;
  color: hsl(238,29%,16%);
  cursor: default;
}
.wrapper{
  display: flex;
  height: auto;
  min-height: 100vh;
  background-image: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  z-index: 1;
}
.main-container{
  align-items: center;
  display: table;
  height: 550px;
  width: 1050px;
  margin: auto;
  background-color: #FFFFFF;
  border-radius:25px;
  z-index: 2;
  overflow: hidden;
}
.tableRow{
  display: table-row;
}
.main-container-overlay{
  display: table-cell;
  vertical-align: middle;
  background-image: url("../images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: 118% 63%;
  background-size: 195% 195%;
  z-index: 3;
}
.woman-image{
  position: relative;
  z-index: 4;
  right: 102px;
  width: 550px;
  height: auto;

}
.woman-image-mobile, .mobile-container-overlay{
  display: none;
}
.cube-image{
  position: absolute;
  z-index: 20;
  top: 42.3%;
  left: 16.9%;
  width: 11.5%;
  height: auto;
}
.accordion-container{
  display: table-cell;
  vertical-align: middle;
  z-index: 3;
	width: 450px;
  padding: 0 90px 0 20px;
}
.accordion-container label{   /*this is when closed*/
	padding: 22px 0px;
	position: relative;
	z-index: 20;
	display: block;
	height: 25px;
	cursor: pointer;
	color: hsl(237, 12%, 33%);
	line-height: 27px;
}
.accordion-container label:hover{
  color: hsl(14, 88%, 65%);
  border-bottom: 1px solid hsl(240, 5%, 91%);
}
/*label style when input checked*/
.accordion-container input:checked + label,
.accordion-container input:checked + label:hover{
	color: hsl(238,29%,16%);
  font-weight: bold;
  border-bottom: 0px solid #fff;
  cursor: default;
}
/*arrow icons*/
.accordion-container label:after,
.accordion-container input:checked + label:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 5px;
	top: 7px;
	background: transparent url(../images/icon-arrow-down.svg) no-repeat center center;
}
.accordion-container input:checked + label:after{
	background-image: url(../images/icon-arrow-up.svg);
}
/*hide the inputs*/
.accordion-container input{
	display: none;
}
.accordion-container article{  /*the content section*/
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	transition: 0.3s linear;
}
.accordion-container p{
 padding-bottom: 20px;
 padding-top: 5px;
 margin: 0px;
 cursor: default;
 color: hsl(240, 6%, 50%);
 font-size: 0.9231em;
}
.accordion-container article, article:hover{
  border-bottom: 1px solid hsl(240, 5%, 91%);
}
/*article height*/
.accordion-container input:checked ~ .ac-small{
	height: auto;
}
@media (max-height: 699px) and (max-width: 1850px) {
  .cube-image  {
    display: none;
  }
}
@media (max-height: 699px) and (max-width: 1350px)  {
  body{
    font-size: 16.5px;
    line-height: 16px;
  }
  .main-container{
    width: 1100px;
    height: auto;
    overflow: visible;
  }
  .accordion-container{
    position: relative;
    bottom: 60px;
    padding: 0 125px 0 125px;
  }
  .accordion-container label{
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .woman-image, .cube-image, .main-container-overlay{
    display: none;
  }
  h1 {
    text-align: center;
    margin: 7px 0;
  }
  .mobile-container-overlay{
    display: block;
    background-image: url('../images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 275px;
    height: 110px;
    margin: 0 auto;
  }
  .woman-image-mobile{
    display: inline;
    position: relative;
    width: 275px;
    right: 13px;
    top: -110px;
  }
}
@media (max-height: 699px) and (max-width: 1100px)  {
  body{
    font-size: 15.5px;
    line-height: 14px;
  }
  .accordion-container label{
    padding-top: 9px;
    padding-bottom: 9px;
  }
  h1 {
    text-align: center;
    margin: 9px 0;
  }
  .main-container{
    width: 950px;
  }
  .accordion-container label{
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
@media (max-height: 699px) and (max-width: 950px) {
  body{
    font-size: 14px;
    line-height: 13px;
  }
  .accordion-container label{
    padding-top: 8px;
    padding-bottom: 8px;
  }
  h1 {
    text-align: center;
    margin: 8px 0;
  }
  .main-container{
    width: 650px;
  }
}
@media (max-height: 699px) and (max-width: 650px) {
  body{
    font-size: 12.5px;
    line-height: 12px;
  }
  .accordion-container label{
    padding-top: 7px;
    padding-bottom: 7px;
  }
  h1 {
    text-align: center;
    margin: 7px 0;
  }
  .main-container{
    width: 325px;   /*350*/
  }
  .accordion-container{
    padding: 0 20px 20px 20px;
  }
}
@media (max-height: 699px) and (max-width: 350px) {
  body{
    font-size: 11px;
    line-height: 11px;
  }
  .accordion-container label{
    padding-top: 6px;
    padding-bottom: 6px;
  }
  h1 {
    text-align: center;
    margin: 7px 0;
  }
  .main-container{
    width: 250px;
    height: auto;
    overflow: visible;
  }
}
